<table class="table mt-3">
  <thead>
    <tr>
      <th class="border-bottom-0">{{ l.headers.created_at }}</th>
      <th class="border-bottom-0">{{ l.headers.remote_id }}</th>
      <th class="border-bottom-0">{{ l.headers.shipping_amount }}</th>
      <th class="border-bottom-0">{{ l.headers.payment_amount }}</th>
      <th class="border-bottom-0">{{ l.headers.amount }}</th>
      <th class="border-bottom-0">{{ l.headers.captured_amount }}</th>
      <th class="border-bottom-0">{{ l.headers.paid_amount }}</th>
      <th class="border-bottom-0">{{ l.headers.order_lines }}</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
      <tr>
        <td>{% include "order/invoices/created_at" %}</td>
        <td>{% include "order/invoices/remote_id" %}</td>
        <td>{% include "order/invoices/shipping_amount" %}</td>
        <td>{% include "order/invoices/payment_amount" %}</td>
        <td>{% include "order/invoices/amount" %}</td>
        <td>{% include "order/invoices/captured_amount" %}</td>
        <td>{% include "order/invoices/paid_amount" %}</td>
        {% assign embedded_order_lines = invoice.order_lines %}
        <td>{% include "order/order_lines/embedded_order_lines" %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>