{% assign controller = session.controller %}

<form class="mb-3" action="{{ session.page | path_for }}" method="get">
  <div class="input-group">
    <input type="hidden" name="page" value="0">
    <input type="hidden" name="per_page" value="{{ per_page }}">
    <input type="hidden" name="filter" value="{{ filter }}">
    <input class="form-control" type="text" name="search" placeholder="{{ l.placeholders[controller] }}" value="{{ params.search }}">
    <button class="btn btn-outline-primary dropdown-toggle" id="filter_button" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ l.options[controller][filter] }}</button>
    <ul class="dropdown-menu" aria-labelledby="filter_button">
      {% for filter_option in filter_options %}
        <li><div class="dropdown-item" role="button" onclick="this.closest('.input-group').querySelector('input[name=filter]').value = '{{ filter_option }}';return this.closest('.input-group').querySelector('input[type=submit]').click();">{{ l.options[controller][filter_option] }}</div></li>
      {% endfor %}
    </ul>
    <input class="btn btn-outline-primary" type="submit" value="{{ l.buttons.search }}">
  </div>
</form>