<h5 class="mb-4">{{ l.headlines[klass] }}</h5>
{% capture document_path %}{{ klass }}__show{% endcapture %}

<table class="table">
  <thead>
    <tr>
      <th class="border-bottom-0">{{ l.headers.remote_id }}</th>
      <th class="border-bottom-0">{{ l.headers.name }}</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
      <tr>
        <td><a href="{{ document_path | path_for: id: document._id }}">{{ document.remote_id | strip_html }}</a></td>
        <td>{{ document.name | strip_html }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>